body {
  font-family: 'Open Sans', sans-serif;
}


.ql-edit-field {
    border: 1px dashed #CCCCCC80;
    padding: 3px 5px;
    &:focus {
      outline: none;
      border: 1px dashed #0078e791;
    }
}

  h1.ql-edit-field {
    font-size: 24px;
    line-height: 48px;
    margin: 20px 0;
    padding: 0 10px;
  }

  p.ql-edit-field {
    font-size: 16px;
    line-height: 26px;
    margin: 20px 0;
    padding: 5px 10px;

    &.b, &.strong {
      font-width: 700;
    }
  }